@import '~bootstrap/scss/bootstrap';

$grid-border-color: #000;

* {
  font-weight: lighter;
  letter-spacing: 2px;
}

button {
  border-width: thin;
}

body {
  margin: 5%;
}

div {
  padding: 10px;

  > form {
    padding: 10px;
  }
  }

h1 {
  font-weight: lighter;
  letter-spacing: 3px;
  position: sticky;
}

.authenticated {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.cell {
  border-color: $grid-border-color;
  border-style: solid;
  border-width: thin;
  height: 100px;
  width: 10px;
}

.unauthenticated {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

#index-game {
  display: flex;
  justify-content: flex-end;
}

#message {
  display: flex;
  justify-content: center;
}
